

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Image to Cartoon Converter</title>
</head>
<body>

    <!-- As a heading -->
    <header class="warna-bg text-white text-center py-2">
        <h2>Tugas Besar Pengolahan Citra Digital</h2>
    </header>

    <!-- Main Content -->
    <div class="container my-4" style="height: 120vh;">
        <h1 class="fs-2 text d-flex justify-content-center">Edit your images online!</h1><br>
            <div class="mb-3">
                <a href="{{ url_for('index') }}" class="btn black-button-2">Back</a>
                <h1 class="text-center">Image to Cartoon Converter</h1>
                <p>Select an Image to edit</p>
                <form action="/upload_cartoon" method="post" enctype="multipart/form-data">
                    <label for="file-upload" class="custom-file-input">Choose File</label>
                    <input type="file" class="form-control" name="photo" id="file-upload" accept="image/*" required>
                    <div class="black-button-1">
                        <br><button class="black-button" type="submit">Convert</button>
                    </div>
                </form><br>

                {% if cartoon_path %}
                <img class="output-image" src="{{ url_for('download_cartoon', filename=cartoon_path) }}" alt="Cartoon Image" style="max-width: 400px; max-height: 400px;"><br>
                <p><a class="btn black-button" href="{{ url_for('download_cartoon') }}" download>Download Cartoon</a></p>
                {% endif %}
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}
            </div>
    </div>        

    <footer class="py-2 warna-bg text-center text-white fixed w-100 warna-bg">
        <h5>Gabriel Azarya Krishna Lokajaya | Tiara Luthfiana Puspa Marizka</h5>
    </footer>

</body>
</html>
